:root {
    --main-color: #212121;
    --sub-text-color:#757575;
    --sub-font-size: 16px;
    --main-background-color:#FFFFFF;
    --focus-hover-background-color: #2196F3;
    --focus-hover-color-button:#FFFFFF;
    --focus-hover-color-text:#2196F3;
    --icon-color: #AFB1B8;
}

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 14px;
    color: var(--main-color);
    font-size: var(--main-font-size);
    background-color: var(--main-background-color);
}

/* default styles*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}


.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Specific styles*/

.container {
    width:1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top:94px;
    padding-bottom:94px;
}

/* Header */
.header {
    border-bottom: 1px solid #ECECEC;
}


.logo {
    font-family: Raleway, sans-serif;
    font-size:  26px;
    font-weight: 700;
    color: #2196F3;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo span {
    color:var(--main-color)
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.contact-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;

}

.nav-list {
    display:flex;
    margin-left: 97px;
}

.nav-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-color);
    display: block;
    padding: 32px 0 31px 0;
}

.contact-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--sub-text-color);
    display: block;
    padding: 32px 0 31px 0;
}

.nav-item:hover,
.contact-item:hover {
    color: var(--focus-hover-color-text);
    cursor: pointer;
}

.active-link {
    color: var(--focus-hover-color-text);
}

.header-incon-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--sub-text-color);
}

.header-icon{
    fill:currentColor;
    margin-right: 10px;
}

/* Hero */

.hero {
    /* background-color: #2F303A; */
    color: var(--main-background-color);
    padding:200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.7)), url(../images/image-overlay.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-button,
.modal-button,
.subscription-button {
    font-family: Roboto, sans-serif;
    background-color: #2196F3;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    cursor:pointer;
}

.hero-button:focus,
.hero-button:hover {
    background-color: #188CE8;
    transition: .5s ease;
}

.hero-heading{
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom:30px;
}

/* Info */
.group-list{
    display: flex;
}

.group-item:not(:last-child){
    margin-right: 30px;
}

.group-item{
    width: 270px
}

.group-title{   
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom:10px;
}

.group-info{      
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--sub-text-color)
}

.group-info-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

/* What we do */
.what-we-do-section {
    padding-top: 0;
}

.what-we-do-container {
    display:flex;
    flex-direction: column;
}

.what-we-do-title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.what-we-do-list {
    display:flex;
    justify-content: center;
}

.what-we-do-item {
    height: 294px;
    width: 370px;
}

.what-we-do-item:not(:last-child){
    margin-right: 30px;
  }
/* Our Team */
.our-team-section {
    background-color: #F5F4FA;
}

.our-team-container {
    display: flex;
    flex-direction: column;
}
.our-team-title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;    
}

.our-team-title,
.team-group-list {
  display:flex;
  justify-content: center;
  align-items: center;
}

.team-member:not(:last-child){
    margin-right: 30px;
}

.team-member {
    display:flex;
    flex-direction: column;
    padding-bottom: 30px;
    background-color: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.member-image {
    margin-bottom: 30px;
}

.team-member-name{
    font-weight: 500;
    font-size: var(--sub-font-size);
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-member-position{
    font-weight: 400;
    font-size: var(--sub-font-size);
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--sub-text-color);
}

.social {
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

.social-icon-list:not(:last-child){
    margin-right: 10px;
}

.social-icon-list {
    fill: currentColor;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    fill: var(--icon-color);
}

.social-icon-list:focus,
.social-icon-list:hover {
    background-color: var(--focus-hover-color-text);
    fill: #FFFFFF;
}

/* Our Customers */

.our-customers-section {
    padding-top: 0;
}

.our-customers-title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 94PX;
}

.our-customers-list {
    display: flex;
    justify-content: center;
    color: var(--icon-color);
}

.our-customer-item {
    width: 170px;
    height: 92px;
    border: var(--icon-color) 1px solid;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.our-customer-item:not(:last-child){
    margin-right: 30px;
}


.our-customer-item:focus,
.our-customer-item:hover {
  border: 1px solid #2196F3;
  color: var(--focus-hover-color-text);
}

.customer-icon {
    fill: currentColor
}

/* Footer */

.footer{
    background-color: #2F303A;
    padding: 60px 0;
}

.footer-container {
    display: flex;
    justify-content: flex-start;
}


.logo-footer {
    display:block;
    margin-bottom: 10px;
}

.logo-footer span {
    color: var(--main-background-color)
}

.footer-link{
    color: var(--focus-hover-color-button);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.footer-social-icon {
    margin-left: 70px;
}

.footer-social-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

.footer-social-svg:not(:last-child){
    margin-right: 10px;
}

.footer-social-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: white;
    background-color: #FFFFFF10;
    border-radius: 100%;
}

.footer-social-svg:focus,
.footer-social-svg:hover {
    background-color: var(--focus-hover-color-text);
    fill: #FFFFFF;
}

.footer-form{
    margin-left: 93px;
}

.subscription-header{
    display: flex;
  }
  
.subscription-form{
display: flex;
flex-direction: row;
align-items: center;
margin-top: 20px;
}

.subscription-input {
display: flex;
box-sizing:border-box;
padding-left: 16px;
height: 50px;
width: 358px;
background-color:#2F303A;
color: var(--focus-hover-color-button);
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
transition-property: border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#footer-placeholder::placeholder{
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.subscription-icon {
padding-left: 10px;
fill: currentColor;
}

.subscription-button {
padding: 10px 0px;
width: 200px;
margin-left: 12px;
border-radius: 5px;
background-color: var(--focus-hover-background-color);
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-button:focus,
.subscription-button:hover {
    background-color: #188CE8;
    transition: .5s ease;
}

.subscription-input:hover,
.subscription-input:focus {
    border-color: var(--light-accent-color);
}
/* Portofolio */

/* Hero Section Navigation Projects Bar */

.filters{
    display: flex;
    justify-content: center;
    margin-bottom:50px;
}
  
.filter-project:not(:last-child){
    margin-right: 8px;
}

.filter-btn {
    font-family: Roboto, sans-serif;
    background-color: #F5F4FA;
    padding: 6px 26px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    font-size: var(--sub-font-size);
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}

.active-btn {
    background-color: var(--focus-hover-background-color);
    color: var(--focus-hover-color-button);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Projects Section */

.projects {
    display: flex;
    flex-wrap: wrap;
    margin-left:-30px;
    margin-top:-30px;
}

.project-item {
    margin-left: 30px;
    margin-top: 30px;
    background: #FFFFFF;
}

.project-wrapper {
    position: relative;
    padding: 0;
    margin: 0;
}

.project-info {
    display: flex;
    flex-direction: column;
    padding:20px 24px;
    border: 1px solid #EEEEEE;
    border-top:none;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.project-type {
    font-weight: 400;
    font-size: var(--sub-font-size);
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--sub-text-color);
}

.project-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.overlay-text {
    width: 370px;
    height: 294px;
    padding: 63px 24px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    
}

.project-wrapper:hover .project-overlay {
    height: 100%;
}



/* Modal  */
.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.2);
    transition-property: visibility, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 40px;
    background: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition-property: background-color, box-shadow, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
}

.form-close {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    fill: var(--main-color);
    background-color: var(--main-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-heading{
    display: flex;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
}

.modal-form{
    display:flex;
    flex-direction: column;
}


.modal-label-text{
    position: absolute;
    top: -16px;
}

.modal-label{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom:30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    fill: var(--main-color);
}

.modal-icon{
    position: absolute;
    top: 50%;
    left: 15px;
    cursor: pointer;
    color: var(--icon-color);
    transform: translateY(-50%);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-close {
    color: var(--sub-text-color);
}

.form-close:hover,
.form-close:focus {
    color: var(--focus-hover-color-text);
    border-color: var(--focus-hover-color-text);
}

.modal-input{
    width: 100%;
    height: 40px;
    padding:12px 42px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition-property: border, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea{
    width:100%;
    padding: 12px 16px;
    resize:none;
    font-weight: 400;
    font-size: var(--main-font-size);
    line-height: 16px;
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition-property: border, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-placeholder::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    outline: none;
}

.form-close:hover,
.form-close:focus {
    fill: var(--main-background-color);
}

.modal-textarea:hover,
.modal-input:hover,
.modal-input:focus-within,
.modal-textarea:focus-within {
    border: 1px solid #2196F3;
    border-radius: 4px;
    outline: none;
}

.modal-label:hover,
.modal-label:focus-within{
    fill: #2196F3;
}

.modal-link:focus,
.modal-link:hover{
    text-decoration: none;
}

.modal-button{
    width: 200px;
    padding: 10px 80px;
    margin-left: 124px;
} 

.agree-check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.agree-check .checkmark {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.agree-check .icon {
    width: 16px;
    height: 16px;
    margin-right: 7px;
    fill: none;
    border: 1px solid var(--icon-color);
    border-radius: 2px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agree-check .checkmark:checked+.icon {
    background-color: var(--focus-hover-color-text);
    border-color: var(--focus-hover-color-text);
    fill: var(--focus-hover-color-button);
    outline: none;
}

.agree-text,
.modal-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--sub-color);
    cursor: pointer;
}

.modal-link{
    text-decoration: underline;
    color: var(--dark-accent-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

